<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit listing</title>
</head>
<body>
    <h1>Fill out this form:</h1>
    <form action="/listings/<%=listing._id%>?_method=PUT" method = "POST">
    <div>
        <label for = "title">Title:</label>
        <input type="text" id = "title" name = "listing[title]" value = <%=listing.title%>>
    </div>

    <div>
        <label for = "description">Description:</label>
        <input type="text" id = "description" name = "listing[description]" value = <%=listing.description%>>
    </div>

    <div>
        <label for = "contact">Contact:</label>
        <input type="text" id = "contact" name = "listing[contact]" value = <%=listing.contact%>>
    </div>
            
        <button>Submit</button>   
    </form>
        
    <form action="/listings/<%=listing._id%>?_method=DELETE" method = "POST">
        <button>Delete listing</button>
    </form>
    
        <a href="/listings">Back to all listings</a>

</body>
</html>