<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the show page</title>
</head>
<body>
    <h1>Title: <%=listing.title%></h1>
    <h2>Description: <%=listing.description%></h2>
    <h3>Contact: <%=listing.contact%></h2>
    
    <a href="<%=listing._id%>/edit">Edit listing</a>
    <a href = "/listings">All listings</a>

    
    <form action="/listings/<%=listing._id%>?_method=DELETE" method = "POST">
        <button>Delete listing</button>
    </form>
    
</body>
</html>